<label {{bind-attr class=":control-label labelCol"}} >{{label}}</label>
<div {{bind-attr class="inputCol"}}>
  {{yield}}
  {{validate-icon}}
  <div {{bind-attr class="isValid:has-success:has-error"}}>
    <span class="help-block">{{validate-message}}</span>
  </div>
</div>
