<div class="container">

  <hr/>
  <h3>Email format validation: Horizontal one with bootstrap</h3>
  <form class="form-horizontal" role="form">
    {{#validate-bootstrap label='Email' propertyBinding="user.email" horizontal=true labelCol=5 inputCol=5}}
      {{input value=user.email class="form-control col-sm-9" id="email"}}
    {{/validate-bootstrap}}
  </form>
  <hr/>

  <h3>Horizontal one with bootstrap</h3>
  <form class="form-horizontal" role="form">
    {{#validate-bootstrap label='Login' propertyBinding="user.login" horizontal=true labelCol=5 inputCol=5}}
      {{input value=user.login class="form-control col-sm-9" id="login3"}}
    {{/validate-bootstrap}}
  </form>
  <hr/>

  <h3>Vertical one with bootstrap</h3>
  <form class="form" role="form">
    {{#validate-bootstrap label='登陆' propertyBinding="user.login"}}
      {{input value=user.login class="form-control" id="login4"}}
    {{/validate-bootstrap}}
  </form>
  <hr/>

  <h3>Inline syntax</h3>
  <form class="form" role="form">
    {{input-validate propertyBinding="user.login" label="Login"}}
  </form>

  <form class="form-horizontal" role="form">
    {{input-validate propertyBinding="user.login" horizontal=true label="Login"}}
  </form>
</div>

