<div class="container">
  <hr/>

  <h3>original one without bootstrap</h3>
  <form class="form">
    {{#validate-with propertyBinding="user.login" class="form-group has-feedback"}}
      <label class="control-label" for="login">
        Login {{validate-message}}
      </label>
      {{input value=user.login class="form-control" id="login"}}
      <span class="glyphicon glyphicon-ok form-control-feedback"></span>
    {{/validate-with}}
  </form>
  <hr/>

  <h3>original horizontal without bootstrap</h3>
  <form class="form">
    {{#validate-with propertyBinding="user.login"}}
    <label class="control-label col-sm-2" for="login2">Login</label>
    <div class="col-sm-10">
      {{input value=user.login class="form-control" id="login2"}}
      <span class="glyphicon glyphicon-ok form-control-feedback"></span>
      <span class="help-block"> {{validate-message}} </span>
    </div>
    {{/validate-with}}
  </form>
  <hr/>

  <h3>Horizontal one with bootstrap</h3>
  <form class="form-horizontal" role="form">
    {{#validate-bootstrap label='Login' propertyBinding="user.login" horizontal=true labelCol=5 inputCol=5}}
      {{input value=user.login class="form-control col-sm-9" id="login3"}}
    {{/validate-bootstrap}}
  </form>
  <hr/>

  <h3>Vertical one with bootstrap</h3>
  <form class="form" role="form">
    {{#validate-bootstrap label='登陆' propertyBinding="user.login"}}
      {{input value=user.login class="form-control" id="login4"}}
    {{/validate-bootstrap}}
  </form>
  <hr/>

  <h3>Inline syntax</h3>
  {{input-validate propertyBinding="user.login"}}
</div>
