<div class="container">

  <h3>Horizontal layout</h3>
  <form class="form-horizontal" role="form">
    {{#validate-bootstrap label='登录' propertyBinding="user.login" horizontal=true}}
      {{input value=user.login class="form-control col-sm-9" id="login3"}}
    {{/validate-bootstrap}}
    {{#validate-bootstrap label='邮件' propertyBinding="user.email" horizontal=true}}
      {{input value=user.email class="form-control col-sm-9" id="email"}}
    {{/validate-bootstrap}}
    {{#validate-bootstrap propertyBinding="user.agreement" inputType="checkbox" horizontal=true}}
      {{input type='checkbox' checked=user.agreement}}是否已阅读并同意遵守本协议
    {{/validate-bootstrap}}
  </form>
  <hr/>

  <h3>Vertical layout</h3>
  <form class="form" role="form">
    {{#validate-bootstrap label='登录' propertyBinding="user.login"}}
      {{input value=user.login class="form-control" id="login4"}}
    {{/validate-bootstrap}}
    {{#validate-bootstrap label='成绩等级' propertyBinding="user.level" disableIcon=true}}
      {{view Ember.Select content=options  prompt="请选择..." class="form-control"
      value=user.level}}
    {{/validate-bootstrap}}
    {{#validate-bootstrap label="密码" propertyBinding="user.password"}}
      {{input type='password' value=user.password class="form-control"}}
    {{/validate-bootstrap}}
    {{#validate-bootstrap label="确认密码" propertyBinding="user.passwordConfirmation"}}
      {{input type='password' value=user.passwordConfirmation class="form-control"}}
    {{/validate-bootstrap}}
    {{#validate-bootstrap propertyBinding="user.agreement" inputType="checkbox"}}
      {{input type='checkbox' checked=user.agreement}}是否已阅读并同意遵守本协议
    {{/validate-bootstrap}}
  </form>
  <hr/>

  <h3>Inline syntax</h3>
  <form class="form-horizontal" role="form">
    {{input-validate propertyBinding="user.login" label='登录' horizontal=true}}
    {{input-validate propertyBinding="user.email" label='邮件' horizontal=true}}
  </form>

  <hr/>

  <h3>validate vertical checkbox group</h3>
  <form class="form" role="form">
    {{#validate-bootstrap label="至少选择一项爱好" propertyBinding="user.hobbies" disableIcon=true}}
      {{view 'checkbox-group' content=hobbies validateModel='user.hobbies'}}
    {{/validate-bootstrap}}
  </form>
  <hr/>

  <h3>validate vertical checkbox group</h3>
  <form class="form" role="form">
    {{#validate-bootstrap label="至少选择一项爱好" propertyBinding="user.occupation" disableIcon=true}}
      <div class="form-group">
        {{view 'radio' name="occupation" selectionBinding="user.occupation" value="0" id="radio1"}}
        <label for="radio1">教师</label>
        {{view 'radio' name="occupation" selectionBinding="user.occupation" value="1" id="radio2"}}
        <label for="radio2">公务员</label>
        {{view 'radio' name="occupation" selectionBinding="user.occupation" value="2" id="radio3"}}
        <label for="radio3">医生</label>
        {{view 'radio' name="occupation" selectionBinding="user.occupation" value="3" id="radio4"}}
        <label for="radio4">企/事业单位员工</label>
      </div>
    {{/validate-bootstrap}}
  </form>
  <hr/>
</div>

